* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading,
.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'BB Roller Mono Pro CR', 'Dank Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.9);
}

.loading {
  color: #ccc;
  font-size: 12px;
  font-weight: 500;
}

.error {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 800;
  color: rgba(250, 0, 0, 1);
}

.error .wrapper {
  max-width: 90%;
}

.error pre {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.fps {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: 'BB Roller Mono Pro CR', 'Dank Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  mix-blend-mode: difference;
  opacity: 0.5;
}
